.site_contenaire{
    position: absolute;
    bottom: 10%;
    color: purple;

}
.site_contenaire,p{
    font: 50px;
    font-weight: bold;

}
.site_contenaire,h1{
    font-size: 120px;
    line-height: 50px;
    margin-left: 250px;
    color:transparent;
    -webkit-text-stroke:1px #000;
    background: url(../image/pattern.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: animate 20s linear 2s infinite alternate;
}
@keyframes animate{
    100%{
        background-position: -500px 0;
    }
}
.site_contenaire,h3{
    font-size: 40px;
    font-weight: 500;
}
.sit_containre .row{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 40px;
}
.row a{
    display: flex;
    align-items: center;
    padding: 5px 20px; 
    text-decoration: none;
    color: #000;
    border:1px #000;
    margin-right: 40px;
    font-size: 18px;
    transition: 0.3s;
}
.row a:hover{
    background-color:white;
    color:#000;
}
.row a span{
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    margin-left: 10px;

}
.row span{
    font-size: 18px;

}
body{
    background:white ;
}

h2{
    color: white;
    text-align: center;
}
h1{
    padding-top: 100px;
}
#haut{
    margin-top: 875px;
}
body{
    background:white ;
}
#m{
    text-align: center;
    align-items: center;
}
.active {
    background-color:white ;
}
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
*/
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
}
#HP{
    background-color:white;
    color: #000;
    text-align: center;
 
}
h2{
    color: #000;
}